<html>
<head>

<script src="/js/explain.js"></script>
<title>Question</title>
<% test = Question._id; %>
<script>
   var qid = <%= test  %>;  //var test is now assigned to getTest which will only work on browsers
   console.log(qid);  // successfully prints 101 on browser
</script>

<!--Common-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
<script src="/js/tether.min.js"></script>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Layout formatting -->
<link rel="stylesheet" href="/stylesheets/layout.css">
<!-- Theme formatting -->
<link rel="stylesheet" href="/stylesheets/theme.css">

<!--Tree structure-->
<script src="/js/tree.jquery.js"></script>
<link rel="stylesheet" href="/stylesheets/jqtree.css">

<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active:false
    });
  });
  
  </script>
  
  
</head>
<body>
<% 
inputType=Question.answers.length>1?"checkbox":"radio"; 
hintDisabled="disabled";
studentAnswered=[1,2];
mode=0;//0: attempt, 1: view_result
%>
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AdaptQ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Ask Question</a></li>
        <li class="active"><a href="#">Attempt Question <span class="sr-only">(current)</span></a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid content">
<form method="post" action="/Question" id="attempt" name="attempt">
<input type="hidden" name="id" value = <%=Question._id%> >

<div class="form-group">
  <!-- <label for="question"> --><!-- <h1>Question</h1> --><!-- </label> -->
  <h1><%=Question.text%></h1>
  <!-- <textarea class="form-control" rows="5" id="question" placeholder="Enter your question" name="question"></textarea> -->
</div>

<br/>
<div id="options">

<% for(var i=0; i < Question.options.length; i++) { 
		var color="";
		var tooltip="";
		var arrActualOptions = Question.answers;
		var checked="";
		if(arrActualOptions.indexOf(i)>-1 && Attempt.givenAns.indexOf(i)>-1){
			color="correct";
			tooltip="data-toggle=tooltip data-placement=auto title=Correct";
			checked="checked";
		}
		if(arrActualOptions.indexOf(i)>-1 && Attempt.givenAns.indexOf(i)<0){
			color="warning";
			tooltip="data-toggle=tooltip data-placement=auto title=Missed";
		}
		if(arrActualOptions.indexOf(i)<0 && Attempt.givenAns.indexOf(i)>-1){
			color="incorrect";
			tooltip="data-toggle=tooltip data-placement=auto title=Incorrect";
			checked="checked";
		}
%>
	<div class="option input-group" <%=tooltip%>>
	<span class="input-group-addon <%=color%>">
	<input type=<%=inputType%> name="options" id="option<%=i%>" class="checko" disabled <%=checked%>>
	</span>
	<label for="option<%=i%>" class="form-control optiono disabled"><%=Question.options[i]%></label>
	</div> <!-- ./input-group -->
<% } %>

<!-- 
<div class="option input-group" data-toggle="tooltip" data-placement="auto" title="Correct option">
	<span class="input-group-addon correct">
	<input type=<%=inputType%> name="options" id="option<%=i%>" class="checko">
	</span>
	<label for="option<%=i%>" class="form-control optiono">Correct clicked</label>
</div> <!~~ ./input-group ~~>
<div class="option input-group">
	<span class="input-group-addon warning">
	<input type=<%=inputType%> name="options" id="option<%=i+1%>" class="checko">
	</span>
	<label for="option<%=i+1%>" class="form-control optiono">Missed to click option</label>
</div> <!~~ ./input-group ~~>
<div class="option input-group">
	<span class="input-group-addon incorrect">
	<input type=<%=inputType%> name="options" id="option<%=i+2%>" class="checko">
	</span>
	<label for="option<%=i+2%>" class="form-control optiono">Incorrectly selected option</label>
</div> <!~~ ./input-group ~~>
 -->


</div>
<br>
<div class="buttons">
<input type="button" class="btn btn-primary" value="View explanations" ><!-- onclick="toggleExplanation()" -->
</div> <!-- /.buttons -->
<!-- 
<div id="voteList">

</div> <!~~ /.voteList ~~>
 -->
<div id="voteList">
<div id = 1>
<h5 style="display:inline-block">Dhiraj</h5> said:<br/>
Ad est iudico doming, hinc urbanitas an qui, lucilius reprimique an ius. Tale volutpat ocurreret eam et. Ex brute nihil sed, fugit solet minimum et vel. Ignota essent nam ei, eos diam stet nullam te.
<br/>
<div style="margin-top:8px">
<button type="button" class = "likeButton" id = "likeButton" rel=' + this.givenBy +' >Unvote</button><div id ="noUpVotes" style="display:inline-block;margin-left:8px;">221</div>
<hr>
</div>
</div>
<div id = 1>
<h5 style="display:inline-block">Sriram</h5> said:<br/>
Lorem ipsum dolor sit amet, et dicat viris suscipiantur per, sit dicit tritani sententiae in, quidam expetendis vix id. Usu ea suas probo ferri, vis viris deserunt definiebas at. Et definiebas eloquentiam his. Est ne labores delicatissimi, pri perfecto delicatissimi at.
<br/>
<div style="margin-top:8px">
<button type="button" class = "likeButton" id = "likeButton" rel=' + this.givenBy +' >Vote</button><div id ="noUpVotes" style="display:inline-block;margin-left:8px;">10</div>
<hr>
</div>
</div>
</div> <!-- /.voteList -->

<input type="button" class="btn btn-primary-outline" value="Show more" onclick="sub()">

</form>
</div> <!-- /.container-fluid -->


<!-- 
<BR>
Student comments<input type="text" name="explaination">
<input type="submit" value="Submit">
<input type="reset" value="Clear">
<input type="button" value="Show hint" <%=hintDisabled%>>
 -->
</form>
</body>

<!-- 
<div id="accordion">
  <h3>Adaptive Web</h3>
  <div>
    <p>Information systems suffer from an inability to satisfy the heterogeneous needs of many users. For example, Web courses present the same static learning material to students with widely differing knowledge of the subject. Most online stores still offer the same selection of "featured items" to customers with different needs and preferences.</p>
  </div>
  <h3>Mobile Computing</h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
  </div>
  <h3>Intro to theoretical computer sci</h3>
  <div>
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
  </div>
</div>
 -->
<h2>Explanation</h2><hr>
<%=Question%>
<br/>
<%=Attempt.givenAns%>



<!-- 
 <table id="userList">
 	
<!~~ 
  <tr>
    <th>Given By</th>
    <th>Text</th>
    <th>NoOfUpvotes</th>
  </tr>
 ~~>
 
</table> 
 -->



<script src="/js/explain.js"></script>
</html>
