<html>
<head>
<title>Question</title>


<!--Common-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Layout formatting -->
<link rel="stylesheet" href="/stylesheets/layout.css">
<!-- Theme formatting -->
<link rel="stylesheet" href="/stylesheets/theme.css">

<!--Tree structure-->
<script src="/js/tree.jquery.js"></script>
<link rel="stylesheet" href="/stylesheets/jqtree.css">

<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active:false
    });
    $("#hint").hide()
  });
  function dispHint(){
  	$("#hintBtn").attr("disabled",true);
  	$("#hint").show();
  	$("#hintTaken").val(true);
  }
  </script>
</head>
<body>
<% 
inputType=Question.answers.length>1?"checkbox":"radio"; 
hintDisabled = "";
if(User.hintsLeft<=0 || Question.hint.length<=0)
	hintDisabled="disabled";
%>
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AdaptQ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid content">
<form method="post" action="/Question" id="attempt" name="attempt">
<input type="hidden" name="id" value = <%=Question._id%> >

<div class="form-group">
  <!-- <label for="question"> --><!-- <h1>Question</h1> --><!-- </label> -->
  <% 
  text=Question.text.replace(/\n/g, "<br/>");
  text=text.replace(/ /g, '\u00a0')
  %>
  <h1><%-text%></h1>
  <!-- <textarea class="form-control" rows="5" id="question" placeholder="Enter your question" name="question"></textarea> -->
</div>

<br/>
<div id="options">

<% for(var i=0; i < Question.options.length; i++) { %>
	<div class="option input-group">
	<span class="input-group-addon">
	<input type=<%=inputType%> name="options" id="option<%=i%>" class="checko" value = <%=i%>>
	</span>
	<label for="option<%=i%>" class="form-control optiono"><%=Question.options[i]%></label>
	</div> <!-- ./input-group -->
<% } %>

</div>
<br>
<div class="buttons">
<input type="submit" class="btn btn-primary" value="Submit" onclick="sub()">
<input type="button" id="hintBtn" class="btn btn-primary-outline" value="Show hint" <%=hintDisabled%> onclick="dispHint()">
<input type="reset" class="btn btn-primary-outline" value="Clear Form" onclick="clearForm()">
</div> <!-- /.buttons -->

<div id="hint">
<%
if(Question.hint.length>0)
{
%>
<label class="svellang">Hint</label><br/>
<%= Question.hint%>
<%
}
%>
</div>
<input name="hintTaken" type="hidden" id="hintTaken" value=false />
</form>

</div> <!-- /.container-fluid -->


</body>
</html>