<html>
<head>
<title>Question</title>


</head>
<body>
<% 
inputType=Question.answer.length>1?"checkbox":"radio"; 
hintDisabled="disabled";
studentAnswered=[1,2];
mode=0;//0: attempt, 1: view_result
%>
<form method="post" action="/Question">
<p><%=Question.text%><br>
<input type="hidden" name="id" value = <%=Question._id%> >
<% for(var i=0; i < Question.options.length; i++) { %>
     <input type=<%=inputType%> name="options"><%=Question.options[i]%><BR>
<% } %>
<BR>
Student comments<input type="text" name="explaination">
</p>
<input type="submit" value="Submit">
<input type="reset" value="Clear">
<input type="button" value="Show hint" <%=hintDisabled%>>
</form>
</body>
<h2>Explanation</h2><hr>
<%=Question%>
</html>